
<!DOCTYPE html>
<html class="html-loading">
		<%- partial('_partial/head',{cache: true}) %>
	<body>
		<%- partial('_partial/header',{cache: true}) %>
			
		<!--main-->
		<main>
			<%- body %>
		</main>

		<!--footer-->
		<%- partial('_partial/footer',{cache: true}) %>
		<%- partial('_partial/footer-after',{cache: true}) %>
	</body>	
</html>